{% load static %}
<section id="pricing" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Preços</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="table wow fadeInLeft" data-wow-delay="1.2s">
          <div class="icon-box">
            <i class="lni-package"></i>
          </div>
          <div class="pricing-header">
            <p class="price-value">R$ 10,00<span> /mês</span></p>
          </div>
          <div class="title">
            <h3>Pro</h3>
          </div>
          <ul class="description">
            <li>1 Usuário</li>
            <li>10 GB Armazenamento</li>
            <li>Suporte por Email</li>
            <li>Atualização em tempo real</li>
          </ul>
          <button class="btn btn-common">Comprar Agora</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 active">
        <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
          <div class="icon-box">
            <i class="lni-drop"></i>
          </div>
          <div class="pricing-header">
            <p class="price-value">R$ 35,00<span> /mês</span></p>
          </div>
          <div class="title">
            <h3>Plus</h3>
          </div>
          <ul class="description">
            <li>10 Usuário</li>
            <li>30 GB Armazenamento</li>
            <li>Suporte Prioritário</li>
            <li>Atualização em tempo real</li>
          </ul>
          <button class="btn btn-common">Comprar Agora</button>
       </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="table wow fadeInRight" data-wow-delay="1.2s">
          <div class="icon-box">
            <i class="lni-star"></i>
          </div>
          <div class="pricing-header">
            <p class="price-value">R$ 150,00<span> /mês</span></p>
          </div>
          <div class="title">
            <h3>Premium</h3>
          </div>
          <ul class="description">
            <li>Usuário ilimitado</li>
            <li>Armazenamento ilimitado</li>
            <li>Suporte 24hs/7dias </li>
            <li>Atualização em tempo real</li>
          </ul>
          <button class="btn btn-common">Compre Agora</button>
        </div>
      </div>
    </div>
  </div>
</section>